<!-- app/views/tasks/_form.html.erb -->

  <% if task.errors.any? %>
    <div class="alert alert-warning">
      <h4>There <%= task.errors.count == 1 ? "is" : "are" %> <%= pluralize(task.errors.count, "error") %>.</h4>
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6">
    <%= form_for task do |f| %>
      <div class="form-group">
        <%= f.label :description, "What are you going to do?" %>
        <div>
          <%= f.text_field :description, class: 'form-control', placeholder: "Task description" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :list_id, "Put it on a list:" %>
        <!-- esdy: in the line below, I would like to create a method that -->
        <!-- figures out which list should be pre-selected baesd on where -->
        <!-- this page was accessed from. If it was from a specific List page, -->
        <!-- then auto-select that list. If it was from anywhere else, then -->
        <!-- choose the "default" list. -->

        <!-- esdy: To pre-select a specific list, add the following after ":name" parameter, -->
        <!-- into the empty hash {} below: -->
        <!-- { :selected => current_user.lists.last.id } -->
        <%= f.collection_select :list_id, lists, :id, :name, {:selected => current_user.lists.first.id}, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit button_text, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
